<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About</title>
  <link rel="stylesheet" type="text/css" href="about.component.css"> 
</head>
<body>
    <h1>About Avercast's Hobbits Sandbox</h1>
    <div>
        <p>
            This is a sandbox enviorment to practice, implement, experiment, and enjoy.<br>
            This will hold a log of all interns that come to this amazing company.<br>
            Feel free to add anything you desire, but we ask that you leave the log and policy alone.
        </p>
    </div>
    <div>
        <u><strong>Intern Sandbox Documentation Policy</strong></u>
        <p> 
            The commenting and documentation will go as follows for this sandbox. <br>
            Component status will be commented at the top of each 'ts' file. Status "completed", refers to
            no known bugs and is operational according to last edited date. In the event a component is changed in any way
            each intern is asked to state the status of the component. Place "completed" if componet is working as desired
            and update the last edited date. If component is under development, list any known bugs that is currenly being 
            fixed or any new development taking place with the component. If component is under development, comment at the
            top of the 'ts' file and state what is under development and what is not working. This is to help all interns 
            keep track of what the last intern was doing while performing tutorials. If an intern finds a good resource to 
            use, we ask that you comment the sited source with a brief description and the url to that source in the 
            "app.component.ts" file. Thank you for joining the Avercast team. We hope you enjoy your stay.
        </p>
    </div>
    <div>
        <br><u><strong>Intern Sandbox Log</strong></u><br>
        <table>
            <tr>
                <th><b>Intern Name</b></th>
                <th><b>Time-Served at Avercast</b></th>
                <th><b>Major</b></th>
                <th><b>Home Location</b></th>
                <th><b>Est Graduation Date</b></th>
            </tr>
            <!-- Enter intern information here -->
            <tr>
                <td>Brad Rydalch</td>
                <td>April-July 2017</td>
                <td>Computer Science</td>
                <td>Idaho Falls,ID</td>
                <td>Winter 2018</td>
            </tr>
        </table>
    </div>
    <hr/>
    <footer>
        <p>
            Company Confidentital<br>
            Avercast,LLC - All rights reserved.
        </p>
    </footer>
</body>
</html>